<!DOCTYPE html>
<html>
<head>
    <title>Projects</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
    <a href="/">Home</a>
    <a href="/contact">Contact</a>
    <a class="active" href="/projects">Projects</a>
</nav>
    <h1>Projects / Publications</h1>
    <h2>Module 1 Project</h2>
<p>
    A personal developer website built using Flask, HTML, and CSS, featuring a biography, contact information, and project details.
</p>
<p>
    <a href="https://github.com/FionaShen828/jhu_software_concepts/tree/main/module_1">View Project on GitHub</a>
</p>
</body>
</html>